.password-display {
  background-color: var(--g700);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 1.5rem;
}

.teste {
  font-size: 2.4rem;
  color: hsl(245, 9%, 25%);
  font-weight: 500;
}

.copyButton {
  width: 21px;
  height: 24px;
}

.copyButton:hover {
  cursor: pointer;
  /* mesmo problema em deixar a cor branca igual o buttao de generate */
}

.copyButton:hover + .teste {
  color: var(--g200);
}
