.strength-indicator-container {
  background-color: hsl(248, 15%, 11%);
  padding: 2rem 2.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.strength-indicator-container span {
  color: var(--g400);
  font-weight: 600;
  font-size: 1.3rem;
}

.indicator-bar-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.current-strength-text {
  color: hsl(252, 11%, 91%);
  font-size: 2rem !important;
  letter-spacing: 0.05rem;
  margin-right: 0.5rem;
}

.indicator-bars {
  display: flex;
  gap: 0.5rem;
}
